<div class="row banner">
  <div class="box col-sm-6">
    <img class="logo" src="assets/images/SorcerySlamLogo.png">
  </div>
  <div class="box col-sm-6"></div>
  <div class="row">
    <div class="col-sm-3 col-6 buttonholder"><a class="linkbutton" href="*">WATCH THE TRAILER</a></div>
    <div class="col-sm-3 col-6 buttonholder"><a class="linkbutton" href="*">WISHLIST ON STEAM</a></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Race to the finish!</h2>
    <p>Sorcery Slam is a competitive/party puzzle game inspired by retro era classics. Play with up to 6 Sorcerers locally or online to collect powerful elemental Gems and be the first to power up your ultimate final blast for the win!</p>
    <h2>Slam and Stash your way to victory!</h2>
    <p>Get your block in position and place it instantly with the SLAM button! Save a block or item for a more opportune time with the bank button!</p>
    <h2>Cast hexes with combos!</h2>
    <p>Clear more than one line with a single block to clutter your opponents with hexes! Larger combos cause stronger attacks, and complete in real time! Begin your next move immediately with fast paced puzzling action!</p>
    <h2>Utilize Powerful Items!</h2>
    <p>Add to your power meter with long lines, combos and clear streaks for a random item to pave your winning path. Get more powerful items when you’re behind to close the distance to your goal!</p>
    <p>We'll put a table of items here</p>
    <h2>Customize your game!</h2>
    <p>Adjust your difficulty to raise the bar for powerful enchanters and lower it for humble apprentices. Tune your experience for your group and everyone has a chance to win! Choose your colors and customize clothes to create your perfect sorcerer!</p>
    <h2>Single player</h2>
    <p>Sprint</p>
    <p>Beat each level in succession as fast as you can and go for your best time!</p><br>
    <p>Survive</p>
    <p>Stay alive as long as possible before the Gems advance and more and more frequent intervals! Get combos to slow down their advance!</p>


